extends baseEmail

block content
  p Hi Admin,
  p A a new booking has been made: #{message} 
  p from: #{firstName} , #{subscriberEmail} with contact: #{contact}
  p the tourist is from #{country}

   

